<header>
  <div class="nav_main define_float">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4 logo_image">
          <a class="navbar-brand" href="/"
            ><img class="img-fluid" src="/images/logo.png" alt="logo" /><p>
              Professional. Trusted. Local.
            </p></a
          >
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8 header_right">
          <div class="header_right_inner">
            <h2>New York, USA</h2>
            <div class="main_button_design">
              <a href="tel:(888) 888-8888">Call:(888) 888-8888</a>
            </div>
          </div>
          <!--nav class="define_float navbar navbar-expand-lg" aria-label="Offcanvas navbar large">
                        <div class="col-md-12 navbar_main define_float">
                            <div class="elec_header define_float">
                                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
                                    <div class="offcanvas-header">
                                      <h5 class="offcanvas-title" id="offcanvasNavbar2Label"></h5>
                                      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                    </div>
                                    <div class="offcanvas-body">
                                        <ul class="navbar-nav flex-grow-1">
                                            <li class="nav-item">
                                                <a class="nav-link active" href="index.html">Home</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="about.html">About</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="reviews.html">Reviews</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="services.html">Services</a>
                                            </li>
                                            <li>
                                                <a class="nav-link" href="tel:(000) 000-0000">Call: (000) 000-0000</a>
                                            </li>					
                                          </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav-->
        </div>
      </div>
    </div>
  </div>
</header>
