<div class="call_outer define_float">
  <div class="container">
    <div class="row">
      <div class="col-md-12 call_contents">
        <div class="main_heading define_float">
          <h2>
            Need a Plumber in <b class="geocodelocation fw-bold"
              >New York, USA</b
            >?
          </h2>
        </div>
        <div class="call_button_main">
          <div class="main_button_design">
            <a href="tel:(888) 531-2365">
              <svg
                xmlns:dc="http://purl.org/dc/elements/1.1/"
                xmlns:cc="http://creativecommons.org/ns#"
                xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                xmlns:svg="http://www.w3.org/2000/svg"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                version="1.1"
                x="0px"
                y="0px"
                viewBox="0 0 100 100"
                ><g transform="translate(0,-952.36218)"
                  ><path
                    style="text-indent:0;text-transform:none;direction:ltr;block-progression:tb;baseline-shift:baseline;color:#fff;enable-background:accumulate;"
                    d="m 25.77032,971.45729 c -3.70444,3.7006 -7.44113,8.7359 -8.27032,13.5009 0.12496,9.9884 8.8092,20.83651 18.85009,30.86801 4.97271,4.9682 10.35543,9.9619 15.66679,13.5945 5.31138,3.6325 10.59306,6.0656 15.63559,5.3006 4.4502,-0.4828 9.93623,-5.1609 13.26363,-8.2939 2.19467,-2.2025 2.02741,-6.2906 0,-8.3874 l -8.45758,-8.4498 c -2.6126,-2.1564 -6.00048,-2.0561 -8.73844,-0.6858 l -5.68,4.178 c -1.42646,0.5106 -3.04801,-0.772 -4.02587,-1.4649 -2.29513,-1.6412 -4.93337,-4.2117 -7.05318,-6.3296 -2.15669,-2.1547 -4.76665,-4.6326 -6.39779,-6.82841 -1.0719,-1.3741 -1.74256,-2.8496 -1.37318,-4.2715 1.4216,-1.9657 2.93032,-3.9578 4.30681,-5.9243 1.24325,-2.7778 1.20274,-6.3657 -0.74901,-8.3873 l -8.42637,-8.3874 c -2.89685,-2.31 -5.74478,-2.0134 -8.55117,-0.032 z m 5.7425,2.8372 8.39516,8.4187 c 0.74972,1.2042 0.46083,2.3682 0.0624,3.648 l -3.99471,5.4566 c -1.85801,3.2766 -0.52295,6.4668 1.37318,9.04201 1.97705,2.6615 4.726,5.1582 6.80351,7.2338 2.12428,2.1223 4.80023,4.8516 7.52131,6.7973 2.52362,1.7868 6.08366,3.1609 8.73836,1.403 1.80776,-1.3337 3.61985,-2.6616 5.43033,-3.9916 1.4024,-0.5543 2.53936,-0.5312 3.8075,0.1248 l 8.42636,8.4185 c 0.61112,0.9628 0.49431,1.6929 0.0625,2.6815 -3.51245,2.6139 -7.11309,6.4791 -11.11023,7.2648 -3.2632,0.4809 -7.83436,-1.3051 -12.76438,-4.6768 -4.94437,-3.3817 -10.18157,-8.2078 -15.07382,-13.0956 -9.7162,-9.7072 -17.4497,-20.42061 -17.66416,-27.93721 0.59363,-3.0322 3.20586,-6.7086 6.99076,-10.7259 1.10496,-0.8324 1.88597,-0.6003 2.996,-0.062 z"
                    fill="#ffffff"
                    fill-opacity="1"
                    stroke="none"
                    marker="none"
                    visibility="visible"
                    display="inline"
                    overflow="visible"></path></g
                ></svg
              >
              <span>Call:(888) 531-2365</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
