<div class="last_section define_float">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 last_section_main">
        <div
          data-aos="fade-up"
          data-aos-duration="3150"
          class="ico-ranking-single-box"
        >
          <div class="ico-tanking-icon">
            <img src="/images/certificate.png" alt="" />
          </div>
          <div class="ico-rnaking-title">
            <h3>Licensing & Certifications</h3>
          </div>
        </div>
      </div>
      <div class="col-lg-4 last_section_main">
        <div
          data-aos="fade-up"
          data-aos-duration="3300"
          class="ico-ranking-single-box"
        >
          <div class="ico-tanking-icon">
            <img src="/images/Building _Codes.png" alt="" />
          </div>
          <div class="ico-rnaking-title">
            <h3>Building Codes & Regulations</h3>
          </div>
        </div>
      </div>
      <div class="col-lg-4 last_section_main">
        <div
          data-aos="fade-up"
          data-aos-duration="3600"
          class="ico-ranking-single-box"
        >
          <div class="ico-tanking-icon">
            <img src="/images/Health_Guidelines.png" alt="" />
          </div>
          <div class="ico-rnaking-title">
            <h3>Health & Safety Guidelines</h3>
          </div>
        </div>
      </div>
      <div class="col-lg-4 last_section_main">
        <div
          data-aos="fade-up"
          data-aos-duration="3900"
          class="ico-ranking-single-box"
        >
          <div class="ico-tanking-icon">
            <img src="/images/Environmental_Regulations.png" alt="" />
          </div>
          <div class="ico-rnaking-title">
            <h3>Environmental Regulations</h3>
          </div>
        </div>
      </div>
      <div class="col-lg-4 last_section_main">
        <div
          data-aos="fade-up"
          data-aos-duration="4200"
          class="ico-ranking-single-box"
        >
          <div class="ico-tanking-icon">
            <img src="/images/quality _assurance.png" alt="" />
          </div>
          <div class="ico-rnaking-title">
            <h3>Quality Assurance & Warranty</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
