<div class="feature_area define_float">
  <img src="/images/wavee.svg" alt="icons" />
  <div class="container">
    <div class="row">
      <div class="main_heading define_float">
        <h2>3 Steps To Get Plumbing Services</h2>
      </div>
    </div>
    <div class="row feature_area_content">
      <div class="col-lg-4 col-sm-4 feature_area_image">
        <img src="/images/plumber_new.png" alt="icons" />
      </div>
      <div class="col-lg-8 col-sm-8 feature_area_detail">
        <div class="col-lg-6 col-md-6 col-sm-12 feature_area_inner">
          <div
            data-aos="fade-up"
            data-aos-duration="2700"
            class="feature_style_eight"
          >
            <div class="feature_style_eight_content">
              <div class="feature_style_eight_icon">
                <div class="icon">
                  <img src="/images/Identify.png" alt="icons" />
                </div>
              </div>
              <div class="feature_style_eight_title pt-4">
                <h4>Assess The Issue</h4>
              </div>
              <div class="feature_style_eight_text pt-15">
                <p>
                  Identify the specific plumbing problem you're experiencing,
                  such as a leak, clogged drain, or malfunctioning fixture.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 feature_area_inner">
          <div
            data-aos="fade-up"
            data-aos-duration="2800"
            class="feature_style_eight"
          >
            <div class="feature_style_eight_content">
              <div class="feature_style_eight_icon">
                <div class="icon">
                  <img src="/images/call.png" alt="icons" />
                </div>
              </div>
              <div class="feature_style_eight_title pt-4">
                <h4>Give Us A Call</h4>
              </div>
              <div class="feature_style_eight_text pt-15">
                <p>
                  Let us know what the issue is and we can get an expert out to
                  you immediately.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 feature_area_inner">
          <div
            data-aos="fade-up"
            data-aos-duration="2900"
            class="feature_style_eight"
          >
            <div class="feature_style_eight_content">
              <div class="feature_style_eight_icon">
                <div class="icon">
                  <img src="/images/Plumbing_Inspection.png" alt="icons" />
                </div>
              </div>
              <div class="feature_style_eight_title pt-4">
                <h4>Plumbing Inspection</h4>
              </div>
              <div class="feature_style_eight_text pt-15">
                <p>
                  Our plumbing technicians will assess the issue and provide you
                  with a free quote on the spot.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
