<section class="section define_float banner_bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <article
          data-aos="fade-up"
          data-aos-duration="2400"
          class="box-icon-modern"
        >
          <div class="box-icon-modern-icon fl-bigmug-line-map87">
            <svg
              version="1.1"
              xmlns="https://www.w3.org/2000/svg"
              xmlns:xlink="https://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              width="60px"
              height="62px"
              viewBox="0 0 60 62"
              enable-background="new 0 0 60 62"
              xml:space="preserve"
            >
              <g>
                <polygon
                  points="56.507,46.973 28.507,60.306 1.97,44.639 3.433,15.639 31.433,2.306 57.97,17.973 	"
                ></polygon>
                <g>
                  <path
                    d="M55.749,45.678c-5.113,2.435-10.226,4.869-15.339,7.304c-3.133,1.492-6.265,2.983-9.398,4.475            c-0.896,0.427-1.793,0.854-2.689,1.281c-1.392,0.663,1.71,0.728,0.396-0.048c-5.766-3.404-11.532-6.808-17.297-10.212            C8.92,47,6.417,45.522,3.914,44.045c-1.711-1.01-0.382-0.642-0.442,0.55c0.042-0.828,0.084-1.655,0.125-2.483            c0.369-7.314,0.738-14.628,1.107-21.941c0.059-1.164,0.118-2.329,0.176-3.493c0.09-1.783,0.045-0.093-0.543,0.186            c2.196-1.046,4.392-2.091,6.588-3.137c6.529-3.109,13.057-6.218,19.586-9.326c0.547-0.26,1.094-0.521,1.641-0.781            c-1.23,0.586-1.901-0.268-0.29,0.683c2.772,1.637,5.545,3.273,8.317,4.91c4.451,2.628,8.902,5.256,13.353,7.883            c1.18,0.697,2.36,1.393,3.54,2.09c0.449,0.265-0.567-1.918-0.622-0.826c-0.036,0.714-0.072,1.428-0.108,2.141            c-0.445,8.824-0.891,17.648-1.336,26.473c-0.098,1.934,2.903,1.925,3,0c0.488-9.667,0.976-19.333,1.463-29            c0.026-0.522-0.305-1.037-0.743-1.295c-4.564-2.695-9.128-5.389-13.692-8.084c-3.055-1.804-6.11-3.607-9.165-5.411            c-1.122-0.662-3.024-2.378-4.437-2.378c-1.261,0-2.949,1.249-4.02,1.759c-3.133,1.492-6.265,2.983-9.398,4.475            c-5.113,2.435-10.226,4.869-15.339,7.304c-0.483,0.23-0.718,0.796-0.743,1.295c-0.488,9.667-0.976,19.333-1.463,29            c-0.026,0.522,0.305,1.037,0.743,1.295c4.564,2.695,9.128,5.389,13.692,8.084c3.055,1.804,6.11,3.607,9.165,5.411            c1.122,0.662,3.024,2.378,4.437,2.378c1.261,0,2.949-1.249,4.02-1.759c3.133-1.492,6.265-2.983,9.398-4.475            c5.113-2.435,10.226-4.869,15.339-7.304C59.01,47.437,57.487,44.851,55.749,45.678z"
                  ></path>
                </g>
              </g>
            </svg>
            <img src="images/section_icon_1.png" alt="check" />
          </div>
          <h5 class="box-icon-modern-title">
            Leaky Pipes, Faucets, <br /> Toilets, Showers
          </h5>
        </article>
      </div>
      <div class="col-md-6 col-lg-4">
        <article
          data-aos="fade-up"
          data-aos-duration="2400"
          class="box-icon-modern"
        >
          <div class="box-icon-modern-icon fl-bigmug-line-map87">
            <svg
              version="1.1"
              xmlns="https://www.w3.org/2000/svg"
              xmlns:xlink="https://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              width="60px"
              height="62px"
              viewBox="0 0 60 62"
              enable-background="new 0 0 60 62"
              xml:space="preserve"
            >
              <g>
                <polygon
                  points="56.507,46.973 28.507,60.306 1.97,44.639 3.433,15.639 31.433,2.306 57.97,17.973 	"
                ></polygon>
                <g>
                  <path
                    d="M55.749,45.678c-5.113,2.435-10.226,4.869-15.339,7.304c-3.133,1.492-6.265,2.983-9.398,4.475            c-0.896,0.427-1.793,0.854-2.689,1.281c-1.392,0.663,1.71,0.728,0.396-0.048c-5.766-3.404-11.532-6.808-17.297-10.212            C8.92,47,6.417,45.522,3.914,44.045c-1.711-1.01-0.382-0.642-0.442,0.55c0.042-0.828,0.084-1.655,0.125-2.483            c0.369-7.314,0.738-14.628,1.107-21.941c0.059-1.164,0.118-2.329,0.176-3.493c0.09-1.783,0.045-0.093-0.543,0.186            c2.196-1.046,4.392-2.091,6.588-3.137c6.529-3.109,13.057-6.218,19.586-9.326c0.547-0.26,1.094-0.521,1.641-0.781            c-1.23,0.586-1.901-0.268-0.29,0.683c2.772,1.637,5.545,3.273,8.317,4.91c4.451,2.628,8.902,5.256,13.353,7.883            c1.18,0.697,2.36,1.393,3.54,2.09c0.449,0.265-0.567-1.918-0.622-0.826c-0.036,0.714-0.072,1.428-0.108,2.141            c-0.445,8.824-0.891,17.648-1.336,26.473c-0.098,1.934,2.903,1.925,3,0c0.488-9.667,0.976-19.333,1.463-29            c0.026-0.522-0.305-1.037-0.743-1.295c-4.564-2.695-9.128-5.389-13.692-8.084c-3.055-1.804-6.11-3.607-9.165-5.411            c-1.122-0.662-3.024-2.378-4.437-2.378c-1.261,0-2.949,1.249-4.02,1.759c-3.133,1.492-6.265,2.983-9.398,4.475            c-5.113,2.435-10.226,4.869-15.339,7.304c-0.483,0.23-0.718,0.796-0.743,1.295c-0.488,9.667-0.976,19.333-1.463,29            c-0.026,0.522,0.305,1.037,0.743,1.295c4.564,2.695,9.128,5.389,13.692,8.084c3.055,1.804,6.11,3.607,9.165,5.411            c1.122,0.662,3.024,2.378,4.437,2.378c1.261,0,2.949-1.249,4.02-1.759c3.133-1.492,6.265-2.983,9.398-4.475            c5.113-2.435,10.226-4.869,15.339-7.304C59.01,47.437,57.487,44.851,55.749,45.678z"
                  ></path>
                </g>
              </g>
            </svg>
            <img src="images/section_icon_2.png" alt="check" />
          </div>
          <h5 class="box-icon-modern-title">Drain & Pipe Clearing</h5>
        </article>
      </div>
      <div class="col-md-6 col-lg-4">
        <article
          data-aos="fade-up"
          data-aos-duration="2400"
          class="box-icon-modern"
        >
          <div class="box-icon-modern-icon fl-bigmug-line-map87">
            <svg
              version="1.1"
              xmlns="https://www.w3.org/2000/svg"
              xmlns:xlink="https://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              width="60px"
              height="62px"
              viewBox="0 0 60 62"
              enable-background="new 0 0 60 62"
              xml:space="preserve"
            >
              <g>
                <polygon
                  points="56.507,46.973 28.507,60.306 1.97,44.639 3.433,15.639 31.433,2.306 57.97,17.973 	"
                ></polygon>
                <g>
                  <path
                    d="M55.749,45.678c-5.113,2.435-10.226,4.869-15.339,7.304c-3.133,1.492-6.265,2.983-9.398,4.475            c-0.896,0.427-1.793,0.854-2.689,1.281c-1.392,0.663,1.71,0.728,0.396-0.048c-5.766-3.404-11.532-6.808-17.297-10.212            C8.92,47,6.417,45.522,3.914,44.045c-1.711-1.01-0.382-0.642-0.442,0.55c0.042-0.828,0.084-1.655,0.125-2.483            c0.369-7.314,0.738-14.628,1.107-21.941c0.059-1.164,0.118-2.329,0.176-3.493c0.09-1.783,0.045-0.093-0.543,0.186            c2.196-1.046,4.392-2.091,6.588-3.137c6.529-3.109,13.057-6.218,19.586-9.326c0.547-0.26,1.094-0.521,1.641-0.781            c-1.23,0.586-1.901-0.268-0.29,0.683c2.772,1.637,5.545,3.273,8.317,4.91c4.451,2.628,8.902,5.256,13.353,7.883            c1.18,0.697,2.36,1.393,3.54,2.09c0.449,0.265-0.567-1.918-0.622-0.826c-0.036,0.714-0.072,1.428-0.108,2.141            c-0.445,8.824-0.891,17.648-1.336,26.473c-0.098,1.934,2.903,1.925,3,0c0.488-9.667,0.976-19.333,1.463-29            c0.026-0.522-0.305-1.037-0.743-1.295c-4.564-2.695-9.128-5.389-13.692-8.084c-3.055-1.804-6.11-3.607-9.165-5.411            c-1.122-0.662-3.024-2.378-4.437-2.378c-1.261,0-2.949,1.249-4.02,1.759c-3.133,1.492-6.265,2.983-9.398,4.475            c-5.113,2.435-10.226,4.869-15.339,7.304c-0.483,0.23-0.718,0.796-0.743,1.295c-0.488,9.667-0.976,19.333-1.463,29            c-0.026,0.522,0.305,1.037,0.743,1.295c4.564,2.695,9.128,5.389,13.692,8.084c3.055,1.804,6.11,3.607,9.165,5.411            c1.122,0.662,3.024,2.378,4.437,2.378c1.261,0,2.949-1.249,4.02-1.759c3.133-1.492,6.265-2.983,9.398-4.475            c5.113-2.435,10.226-4.869,15.339-7.304C59.01,47.437,57.487,44.851,55.749,45.678z"
                  ></path>
                </g>
              </g>
            </svg>
            <img src="images/section_icon_3.png" alt="check" />
          </div>
          <h5 class="box-icon-modern-title">Winterization</h5>
        </article>
      </div>
      <div class="col-md-6 col-lg-4">
        <article
          data-aos="fade-up"
          data-aos-duration="2400"
          class="box-icon-modern"
        >
          <div class="box-icon-modern-icon fl-bigmug-line-map87">
            <svg
              version="1.1"
              xmlns="https://www.w3.org/2000/svg"
              xmlns:xlink="https://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              width="60px"
              height="62px"
              viewBox="0 0 60 62"
              enable-background="new 0 0 60 62"
              xml:space="preserve"
            >
              <g>
                <polygon
                  points="56.507,46.973 28.507,60.306 1.97,44.639 3.433,15.639 31.433,2.306 57.97,17.973 	"
                ></polygon>
                <g>
                  <path
                    d="M55.749,45.678c-5.113,2.435-10.226,4.869-15.339,7.304c-3.133,1.492-6.265,2.983-9.398,4.475            c-0.896,0.427-1.793,0.854-2.689,1.281c-1.392,0.663,1.71,0.728,0.396-0.048c-5.766-3.404-11.532-6.808-17.297-10.212            C8.92,47,6.417,45.522,3.914,44.045c-1.711-1.01-0.382-0.642-0.442,0.55c0.042-0.828,0.084-1.655,0.125-2.483            c0.369-7.314,0.738-14.628,1.107-21.941c0.059-1.164,0.118-2.329,0.176-3.493c0.09-1.783,0.045-0.093-0.543,0.186            c2.196-1.046,4.392-2.091,6.588-3.137c6.529-3.109,13.057-6.218,19.586-9.326c0.547-0.26,1.094-0.521,1.641-0.781            c-1.23,0.586-1.901-0.268-0.29,0.683c2.772,1.637,5.545,3.273,8.317,4.91c4.451,2.628,8.902,5.256,13.353,7.883            c1.18,0.697,2.36,1.393,3.54,2.09c0.449,0.265-0.567-1.918-0.622-0.826c-0.036,0.714-0.072,1.428-0.108,2.141            c-0.445,8.824-0.891,17.648-1.336,26.473c-0.098,1.934,2.903,1.925,3,0c0.488-9.667,0.976-19.333,1.463-29            c0.026-0.522-0.305-1.037-0.743-1.295c-4.564-2.695-9.128-5.389-13.692-8.084c-3.055-1.804-6.11-3.607-9.165-5.411            c-1.122-0.662-3.024-2.378-4.437-2.378c-1.261,0-2.949,1.249-4.02,1.759c-3.133,1.492-6.265,2.983-9.398,4.475            c-5.113,2.435-10.226,4.869-15.339,7.304c-0.483,0.23-0.718,0.796-0.743,1.295c-0.488,9.667-0.976,19.333-1.463,29            c-0.026,0.522,0.305,1.037,0.743,1.295c4.564,2.695,9.128,5.389,13.692,8.084c3.055,1.804,6.11,3.607,9.165,5.411            c1.122,0.662,3.024,2.378,4.437,2.378c1.261,0,2.949-1.249,4.02-1.759c3.133-1.492,6.265-2.983,9.398-4.475            c5.113-2.435,10.226-4.869,15.339-7.304C59.01,47.437,57.487,44.851,55.749,45.678z"
                  ></path>
                </g>
              </g>
            </svg>
            <img src="images/section_icon_4.png" alt="check" />
          </div>
          <h5 class="box-icon-modern-title">
            Water Heater & Water <br /> Pressure Repairs
          </h5>
        </article>
      </div>
      <div class="col-md-6 col-lg-4">
        <article
          data-aos="fade-up"
          data-aos-duration="2400"
          class="box-icon-modern"
        >
          <div class="box-icon-modern-icon fl-bigmug-line-map87">
            <svg
              version="1.1"
              xmlns="https://www.w3.org/2000/svg"
              xmlns:xlink="https://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              width="60px"
              height="62px"
              viewBox="0 0 60 62"
              enable-background="new 0 0 60 62"
              xml:space="preserve"
            >
              <g>
                <polygon
                  points="56.507,46.973 28.507,60.306 1.97,44.639 3.433,15.639 31.433,2.306 57.97,17.973 	"
                ></polygon>
                <g>
                  <path
                    d="M55.749,45.678c-5.113,2.435-10.226,4.869-15.339,7.304c-3.133,1.492-6.265,2.983-9.398,4.475            c-0.896,0.427-1.793,0.854-2.689,1.281c-1.392,0.663,1.71,0.728,0.396-0.048c-5.766-3.404-11.532-6.808-17.297-10.212            C8.92,47,6.417,45.522,3.914,44.045c-1.711-1.01-0.382-0.642-0.442,0.55c0.042-0.828,0.084-1.655,0.125-2.483            c0.369-7.314,0.738-14.628,1.107-21.941c0.059-1.164,0.118-2.329,0.176-3.493c0.09-1.783,0.045-0.093-0.543,0.186            c2.196-1.046,4.392-2.091,6.588-3.137c6.529-3.109,13.057-6.218,19.586-9.326c0.547-0.26,1.094-0.521,1.641-0.781            c-1.23,0.586-1.901-0.268-0.29,0.683c2.772,1.637,5.545,3.273,8.317,4.91c4.451,2.628,8.902,5.256,13.353,7.883            c1.18,0.697,2.36,1.393,3.54,2.09c0.449,0.265-0.567-1.918-0.622-0.826c-0.036,0.714-0.072,1.428-0.108,2.141            c-0.445,8.824-0.891,17.648-1.336,26.473c-0.098,1.934,2.903,1.925,3,0c0.488-9.667,0.976-19.333,1.463-29            c0.026-0.522-0.305-1.037-0.743-1.295c-4.564-2.695-9.128-5.389-13.692-8.084c-3.055-1.804-6.11-3.607-9.165-5.411            c-1.122-0.662-3.024-2.378-4.437-2.378c-1.261,0-2.949,1.249-4.02,1.759c-3.133,1.492-6.265,2.983-9.398,4.475            c-5.113,2.435-10.226,4.869-15.339,7.304c-0.483,0.23-0.718,0.796-0.743,1.295c-0.488,9.667-0.976,19.333-1.463,29            c-0.026,0.522,0.305,1.037,0.743,1.295c4.564,2.695,9.128,5.389,13.692,8.084c3.055,1.804,6.11,3.607,9.165,5.411            c1.122,0.662,3.024,2.378,4.437,2.378c1.261,0,2.949-1.249,4.02-1.759c3.133-1.492,6.265-2.983,9.398-4.475            c5.113-2.435,10.226-4.869,15.339-7.304C59.01,47.437,57.487,44.851,55.749,45.678z"
                  ></path>
                </g>
              </g>
            </svg>
            <img src="images/section_icon_5.png" alt="check" />
          </div>
          <h5 class="box-icon-modern-title">Residential & Commercial</h5>
        </article>
      </div>
      <div class="col-md-6 col-lg-4">
        <article
          data-aos="fade-up"
          data-aos-duration="2400"
          class="box-icon-modern"
        >
          <div class="box-icon-modern-icon fl-bigmug-line-map87">
            <svg
              version="1.1"
              xmlns="https://www.w3.org/2000/svg"
              xmlns:xlink="https://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              width="60px"
              height="62px"
              viewBox="0 0 60 62"
              enable-background="new 0 0 60 62"
              xml:space="preserve"
            >
              <g>
                <polygon
                  points="56.507,46.973 28.507,60.306 1.97,44.639 3.433,15.639 31.433,2.306 57.97,17.973 	"
                ></polygon>
                <g>
                  <path
                    d="M55.749,45.678c-5.113,2.435-10.226,4.869-15.339,7.304c-3.133,1.492-6.265,2.983-9.398,4.475            c-0.896,0.427-1.793,0.854-2.689,1.281c-1.392,0.663,1.71,0.728,0.396-0.048c-5.766-3.404-11.532-6.808-17.297-10.212            C8.92,47,6.417,45.522,3.914,44.045c-1.711-1.01-0.382-0.642-0.442,0.55c0.042-0.828,0.084-1.655,0.125-2.483            c0.369-7.314,0.738-14.628,1.107-21.941c0.059-1.164,0.118-2.329,0.176-3.493c0.09-1.783,0.045-0.093-0.543,0.186            c2.196-1.046,4.392-2.091,6.588-3.137c6.529-3.109,13.057-6.218,19.586-9.326c0.547-0.26,1.094-0.521,1.641-0.781            c-1.23,0.586-1.901-0.268-0.29,0.683c2.772,1.637,5.545,3.273,8.317,4.91c4.451,2.628,8.902,5.256,13.353,7.883            c1.18,0.697,2.36,1.393,3.54,2.09c0.449,0.265-0.567-1.918-0.622-0.826c-0.036,0.714-0.072,1.428-0.108,2.141            c-0.445,8.824-0.891,17.648-1.336,26.473c-0.098,1.934,2.903,1.925,3,0c0.488-9.667,0.976-19.333,1.463-29            c0.026-0.522-0.305-1.037-0.743-1.295c-4.564-2.695-9.128-5.389-13.692-8.084c-3.055-1.804-6.11-3.607-9.165-5.411            c-1.122-0.662-3.024-2.378-4.437-2.378c-1.261,0-2.949,1.249-4.02,1.759c-3.133,1.492-6.265,2.983-9.398,4.475            c-5.113,2.435-10.226,4.869-15.339,7.304c-0.483,0.23-0.718,0.796-0.743,1.295c-0.488,9.667-0.976,19.333-1.463,29            c-0.026,0.522,0.305,1.037,0.743,1.295c4.564,2.695,9.128,5.389,13.692,8.084c3.055,1.804,6.11,3.607,9.165,5.411            c1.122,0.662,3.024,2.378,4.437,2.378c1.261,0,2.949-1.249,4.02-1.759c3.133-1.492,6.265-2.983,9.398-4.475            c5.113-2.435,10.226-4.869,15.339-7.304C59.01,47.437,57.487,44.851,55.749,45.678z"
                  ></path>
                </g>
              </g>
            </svg>
            <img src="images/section_icon_6.png" alt="check" />
          </div>
          <h5 class="box-icon-modern-title">
            Garbage Disposal, Toilet <br /> Repairs
          </h5>
        </article>
      </div>
    </div>
  </div>
</section>
