<div class="define_float tabs_outer">
  <div class="container">
    <div class="row">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="home-tab"
            data-bs-toggle="tab"
            data-bs-target="#home"
            type="button"
            role="tab"
            aria-controls="home"
            aria-selected="true">Services</button
          >
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="profile-tab"
            data-bs-toggle="tab"
            data-bs-target="#profile"
            type="button"
            role="tab"
            aria-controls="profile"
            aria-selected="false">Why Us?</button
          >
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="contact-tab"
            data-bs-toggle="tab"
            data-bs-target="#contact"
            type="button"
            role="tab"
            aria-controls="contact"
            aria-selected="false">FAQ</button
          >
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link reviews_tab_main"
            id="contact-tab"
            data-bs-toggle="tab"
            data-bs-target="#reviews"
            type="button"
            role="tab"
            aria-controls="contact"
            aria-selected="false">Reviews</button
          >
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="home"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          <div class="services-section">
            <div class="">
              <div class="row align-items-center">
                <div class="col-lg-12 col-md-12">
                  <div class="services-content">
                    <h2>Our Services</h2>
                    <p>
                      Whether it's an emergency, regular maintenance, or a minor
                      plumbing issue, <br />we got you covered. Here is our
                      expertise:
                    </p>
                    <ul class="services-list">
                      <li><span>Drain Cleaning</span></li>
                      <li><span>Faucet Repair & Replacement</span></li>
                      <li><span>Toilet Repair & Installation</span></li>
                      <li><span>Water Heater Services</span></li>
                      <li><span>Garbage Disposal Repair</span></li>
                      <li><span>Leak Detection & Repair</span></li>
                      <li><span>Bathtub/Shower Repair & Installation</span></li>
                      <li><span>Sump Pump Services</span></li>
                      <li><span>Pipe Repair Replacement</span></li>
                      <li><span>Water Filtration & Softening</span></li>
                      <li><span>Backflow Prevention & Testing</span></li>
                      <li><span>Dishwasher Installation & Repair</span></li>
                      <li><span>Emergency Plumbing Services</span></li>
                      <li><span>Outdoor Plumbing Maintenance</span></li>
                      <li><span>Re-Piping Services</span></li>
                      <li><span>Water Pressure Adjustment</span></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="profile"
          role="tabpanel"
          aria-labelledby="profile-tab"
        >
          <div class="why_outer define_float">
            <div class="row">
              <div class="col-lg-6 col-md-6 why_content">
                <div class="why_content_inner define_float">
                  <h2>Why Us?</h2>
                  <p>
                    At House Plumbing, we understand that plumbing issues can
                    arise at any time, causing inconvenience and disruption to
                    your daily routine. That's why we are here! We provide
                    reliable and professional plumbing services that you can
                    count on. With years of experience and a team of highly
                    skilled plumbers, we are dedicated to delivering top-notch
                    solutions for all your plumbing needs.
                  </p>
                  <p>
                    We prioritize efficiency and precision, using
                    state-of-the-art equipment and premium materials to
                    guarantee lasting results. We understand the importance of
                    minimizing disruptions to your home, so we strive to
                    complete our work promptly while maintaining the cleanliness
                    and respect for your property.
                  </p>
                  <p>
                    We are proud to serve both residential and commercial
                    clients, tailoring our solutions to meet your specific
                    needs. No matter the size or complexity of the project, you
                    can trust us to deliver exceptional plumbing services that
                    exceed your expectations.
                  </p>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 why_image">
                <div class="why_image_inner define_float">
                  <img src="/images/banner_image.jpg" alt="why_image" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="contact"
          role="tabpanel"
          aria-labelledby="contact-tab"
        >
          <div class="faq_outer define_float">
            <h2>Frequently Asked Questions</h2>
            <div class="faq_inner define_float">
              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseOne"
                      aria-expanded="true"
                      aria-controls="collapseOne"
                    >
                      Q: What services do you offer?
                    </button>
                  </h2>
                  <div
                    id="collapseOne"
                    class="accordion-collapse collapse show"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body">
                      A: We offer a comprehensive range of plumbing services,
                      including plumbing repairs, installations, maintenance,
                      drain cleaning, sewer line services, water heater
                      services, pipe replacements, and more. Our goal is to
                      address all your plumbing needs efficiently and
                      effectively.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseTwo"
                      aria-expanded="false"
                      aria-controls="collapseTwo"
                    >
                      Q: Do you provide emergency plumbing services?
                    </button>
                  </h2>
                  <div
                    id="collapseTwo"
                    class="accordion-collapse collapse"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body">
                      A: Yes, we offer 24/7 emergency plumbing services.
                      Plumbing emergencies can happen at any time, and we
                      understand the importance of prompt assistance. You can
                      rely on us to respond quickly and resolve your plumbing
                      issues, day or night.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseThree"
                      aria-expanded="false"
                      aria-controls="collapseThree"
                    >
                      Q: How quickly can you respond to a service call?
                    </button>
                  </h2>
                  <div
                    id="collapseThree"
                    class="accordion-collapse collapse"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body">
                      A: We strive to provide timely service to our customers.
                      Depending on the nature and urgency of your plumbing
                      issue, we aim to dispatch a plumber to your location as
                      soon as possible. Our goal is to minimize any
                      inconvenience caused by plumbing problems.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapsefr"
                      aria-expanded="false"
                      aria-controls="collapseThree"
                    >
                      Q: Do you offer warranties or guarantees on your work?
                    </button>
                  </h2>
                  <div
                    id="collapsefr"
                    class="accordion-collapse collapse"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body">
                      A: Yes, we stand behind the quality of our workmanship. We
                      offer warranties or guarantees on our services and
                      products to ensure customer satisfaction. If any issues
                      arise after our service, we will promptly address them to
                      your satisfaction.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapsefv"
                      aria-expanded="false"
                      aria-controls="collapseThree"
                    >
                      Q: Can you provide a cost estimate before starting the
                      work?
                    </button>
                  </h2>
                  <div
                    id="collapsefv"
                    class="accordion-collapse collapse"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body">
                      A: Absolutely. We believe in transparent pricing. Once our
                      plumber assesses the scope of work, they will provide you
                      with a detailed cost estimate, outlining all the necessary
                      services and materials involved. We aim to provide fair
                      and competitive pricing.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapsesix"
                      aria-expanded="false"
                      aria-controls="collapseThree"
                    >
                      Q: How can I schedule an appointment or get in touch with
                      your company?
                    </button>
                  </h2>
                  <div
                    id="collapsesix"
                    class="accordion-collapse collapse"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body">
                      A: Scheduling an appointment is easy. You can reach us by
                      phone, email, or through our website contact form. Our
                      friendly staff will assist you in scheduling a convenient
                      appointment and addressing any questions or concerns you
                      may have.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="reviews"
          role="tabpanel"
          aria-labelledby="contact-tab"
        >
          <div class="testimonials_outer define_float">
            <div class="">
              <div class="row">
                <div class="testimonials_heading define_float">
                  <h2>See what our customers <br /> have to say about us!</h2>
                </div>
              </div>
            </div>
            <div class="testimonials_inner define_float">
              <div class="container">
                <div class="testimonials_main">
                  <div
                    id="testimonial_slid"
                    class="testimonial_slid define_float"
                  >
                    <div>
                      <div class="testimonial_content define_float">
                        <p>
                          "I had a major plumbing emergency in my home, and I
                          was in a panic. Thankfully, I contacted House
                          Plumbing, and they came to the rescue. Their response
                          time was impressive, and their team of plumbers
                          quickly identified the issue. It was a faulty pipe in
                          my wall, that flooded my basement. I was so relieved
                          to have my plumbing problem resolved so quickly. I
                          highly recommend them for their excellent service!"
                        </p>
                        <div class="testimonial_text define_float">
                          <div class="testimonial_img">
                            <img src="/images/ethan.jpg" alt="img" />
                          </div>
                          <div class="testimonial_name">
                            <h5>Michael W.</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="testimonial_content define_float">
                        <p>
                          "I recently hired House Plumbing to install a new
                          plumbing system in my commercial property. From the
                          initial consultation to the completion of the project,
                          their team demonstrated exceptional professionalism
                          and expertise. They provided valuable insights and
                          suggestions, ensuring that the system was designed to
                          meet our specific requirements. The quality of their
                          workmanship was outstanding."
                        </p>
                        <div class="testimonial_text define_float">
                          <div class="testimonial_img">
                            <img src="/images/diego.jpg" alt="img" />
                          </div>
                          <div class="testimonial_name">
                            <h5>Mark T.</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="testimonial_content define_float">
                        <p>
                          "I had been dealing with a persistent plumbing issue
                          for months, and I had already contacted several other
                          plumbing companies without success. Then I came across
                          House Plumbing and they truly went above and beyond to
                          solve the problem. Their plumbers were diligent,
                          thorough, and committed to finding a solution. They
                          took the time to explain the issue to me and provided
                          recommendations to prevent it from happening again.
                          Thanks you!"
                        </p>
                        <div class="testimonial_text define_float">
                          <div class="testimonial_img">
                            <img src="/images/noah.jpg" alt="img" />
                          </div>
                          <div class="testimonial_name">
                            <h5>Daniel F.</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="testimonial_content define_float">
                        <p>
                          "During a home renovation project, I needed to upgrade
                          my outdated plumbing fixtures. I reached out to House
                          Plumbing based on a friend's recommendation, and I
                          couldn't have been happier with my decision. Their
                          team guided me through the selection process, helping
                          me choose high-quality fixtures that fit my budget and
                          style preferences. The installation process was
                          smooth, and the attention to detail was impressive. I
                          highly recommend them to anyone in need of a plumber."
                        </p>
                        <div class="testimonial_text define_float">
                          <div class="testimonial_img">
                            <img src="/images/spohia.jpg" alt="img" />
                          </div>
                          <div class="testimonial_name">
                            <h5>Laura M.</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="testimonial_content define_float">
                        <p>
                          "As a property manager, I often deal with plumbing
                          issues in various buildings. House Plumbing has become
                          my go-to plumbing service provider. Their team is
                          reliable, responsive, and consistently delivers
                          exceptional results. They have tackled everything from
                          minor repairs to large-scale plumbing projects with
                          efficiency and expertise. Their professionalism and
                          dedication to customer satisfaction are unmatched.
                        </p>
                        <div class="testimonial_text define_float">
                          <div class="testimonial_img">
                            <img src="/images/antonia.jpg" alt="img" />
                          </div>
                          <div class="testimonial_name">
                            <h5>Phil Z.</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
